.container {
    position: relative;
    display: inline-block;
	margin:20px;
	font-family:Arial;
}

.container::before {
    content: "Before Element";
    background-color: #f00;
    color: black;
    font-weight: 20px;
	font-family:Arial;
}
.container::after {
    content: "After Element";
    background-color: #f00;
    color: black;
    font-weight: 20px;
	font-family:Arial;
}





