/*  your css code here. If applicable */
.container::before
{
	content:"Before Element";
	/* display:inline; */
	background-color:#f00;
	margin:20px;
}
.container::after
{
	content:"After Element";
	background-color: #f00;
	margin:20px;
}






