/*  your css code here. If applicable */
.container::before
{
	content:"Before Element";
	background-color:#f00;
	margin:20px;
	left:0;
	top:0;
	z-index:1;
}
.container::after
{
	content:"After Element";
	background-color:#f00;
	margin:20px;
	left:0;
	top:0;
	z-index:1;
}




